$primary-color: rgb(54, 55, 64);
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&family=Mulish:wght@400;600;700&family=Poppins:wght@400;500;600;700&family=Roboto+Mono:wght@300;400;500&family=Roboto:wght@300;400;500&display=swap');
$font-stack: Mulish;
import 
body {
  font-family: $font-stack;
}

.flex {
  display: flex;
  align-items: center;
  justify-content: center;
}

.login-wrapper {
  background-color: $primary-color;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  .login-box {
    background-color: #fff;
    width: 380px;
    height: 582px;
    border-radius: 8px;
    border: 1px solid #DFE0EB;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;

    img {
      margin-top: 50px;
    }

    h1 {
      font-weight: 700;
      font-size: 19px;
      line-height: 24px;
      color: #A4A6B3;
      opacity: 0.7;

    }

    h3 {
      font-weight: 400;
      line-height: 20px;
      font-size: 14px;
      letter-spacing: 0.3px;
      color: #9FA2B4;
      margin-top: 70px;
    }

    form {
      width: 80%;
      position: relative;
      .forgot{
        font-weight: 400;
        font-size: 9px;
        line-height: 15px;
        color: #9FA2B4;
        margin-left: 160px;
      }
      label{
        font-weight: 700;
        text-transform: uppercase;
        font-size: 12px;line-height: 15px;
        color: #9FA2B4;
       
      }
    }

    input {
      width: 100%;
      box-sizing: border-box;
      background: #FCFDFE;
      border: 1px solid #F0F1F7;
      border-radius: 8px;
      padding: 12px;
      margin:10px 0px 10px 0px;
      &::placeholder{
        color: #9FA2B4;
        &:focus .active1  {
          font-size: 50px;
     
           
          
        }
      }
    }button{
      width: 100%;
      border-radius: 8px;
      padding: 12px;
      cursor: pointer;
      margin-top: 20px;
      background: #3751FF;
      box-shadow: 0px 4px 12px rgba(55, 81, 255, 0.24);
      border: none;
      color: #fff;
    }.login-sign{
      margin-top: 30px;
      span{
        color: #3751FF;
        cursor: pointer;
      }
    }
    
  }
}

.showIcon {
  cursor: pointer;
  width: 20px;
  position: absolute;
  bottom: 75px;
  right: 10px;
  display: block;
}.show{
 color: #9FA2B4;
 width: 80%;
 height: 80%;
}







